.mxm-icon {
  --mxm-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--mxm-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .mxm-icon--$(val) {
    --mxm-icon-color: var(--mxm-color-$(val));
  }
}